<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recipeconfirmation.css' %}">
</head>

<body class= "container">
    <div class="form-group row">
        <em><h1 class="text">Welcome {{user.first_name}}!</h1></em>
    </div>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/founders">Founders</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="#">Careers</a>
            </li>

            {% if 'userid' in request.session %}
                <li class="nav-item active">
                    <a class="nav-link text-white" href="userprofile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'sign_in' %}">Sign in</a>
                </li>
            {% endif %}
            </ul>

            <form action="search" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    
    <div class= "dish">
        <div class="flex-child">
            <img src="{{recipe.image.url}}" width="500" height="500">
            <!-- Might want to try doing auto here -->
        </div>
    
        <div class="flex-child">
            <em><strong><h1>{{dish.title}}</h1></strong></em>
            <!-- <em><h4>Average rating: {{rating}} stars</h4></em>
            <br> -->
            <em><h6>Created by: {{dish.user.first_name}} {{dish.user.last_name}}</h6></em>
            <br>
            <em><u><h4 class="heading">Description: </h4></u></em>
                <b><p class="info">{{dish.description}}</p></b>
            <em><u><h4 class="heading">Ingredients: </h4></u></em>
                <b><p class="info">{{dish.ingredients}}</p></b>
            <em><u><h4 class="heading">Steps: </h4></u></em>
                <b><p class="info">{{dish.steps}}</p></b>
            {% if user.id == dish.user.id %}
                <a class="btn btn-danger" href="/dish/delete/{{dish.id}}" role="button">Delete Recipe</a>
                <a class="btn btn-success" href="/dish/edit/{{dish.id}}" role="button">Edit Recipe</a>

            {% endif %}
        </div>
    </div>

                        
            <div class="grid-container">
                <div class="grid-child" id = "partial_for_review">
                    <u><em><h3 class="text text-left">Reviews:</h3></em></u>
                    <br>

                    {% for review in dish.reviews.all %}
                    <!-- dish = Recipe.objects.get(id = id) -->
                        <h4>{{review.users.first_name}} {{review.users.last_name.0}}. {{review.created_at|date:"SHORT_DATE_FORMAT" }}</h4>
                        <p>{{review.feedback}}</p>
                        <p>{{review.rating}} Stars</p>

                    {% endfor %}
    
                </div>

            <div class="grid-child">
                <em><u><h4 class="text">Add Review: </h4></u></em>
                <form action="addReview/{{dish.id}}/" method="POST" id="review" dish = {{dish.id}} review="{{recipe.id}}">
                    {% csrf_token %}
                        <br>
                        <textarea class="form-control mb-3" id="content" name="review" rows="2" cols="55"></textarea>

                        <div class="col-12 mb-3">

                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                              </div>


                        </div>
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                        <input name="recipe_id" type="hidden" value="{{recipe.id}}">  
                </form>
            </div>
        </div>


            <div class="col-12">
                <footer class="my-5 pt-5 light text-muted text-center text-center">
                    {% comment %} <ul> {% endcomment %}
                    <a class="text-black" href="#">Advertisements</a>  <a href="privacypolicy">Private Policy</a> <a href="#">Help</a> <a href="#">About</a> <a href="terms">Terms of Service</a>
                    <br>
                    Copyright &copy;  2020
                    {% comment %} </ul> {% endcomment %}
                </footer>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>